{% extends 'log/base.html' %}
{% load static %}
{% block content %}
<div class="carousel slide">
    <div class="carousel-inner shadow text-center">
        <div class="carousel-item active">
          
            <img src="/media/uploads/about.png" class="d-block-center my-0" alt="..." width="300" height="300">
            <h1 class="text-danger my-2">Welcome To 𝕊𝕙𝕠𝕡𝕂𝕚𝕟𝕘 👑 <h3 class="text-primary">Your Ultimate Destination for Mobiles, Accessories, and Fashion!</h3></h1>
            <div class="container-fluid text-primary rounded text-opacity-75">
                <p><h5 class="bg-light">At Shopking, we pride ourselves on being your one-stop destination for a diverse array of products tailored to your lifestyle needs. Whether you're searching for the latest mobile gadgets, trendy accessories, or fashionable apparel, we've got you covered.
                 With a commitment to quality, affordability, and customer satisfaction, Shopking strives to exceed your expectations at every turn. Our user-friendly platform, secure payment options, and prompt delivery ensure a seamless shopping experience from start to finish.</h5></p>
            </div>
            <a href="{% url 'home' %}" class="btn btn-danger shadow my-2">See Category</a> 
            <a href="{% url 'products' %}" class="btn btn-primary shadow my-2">Explore Products</a>  
            <div>
                <div class="footer-area my-5">
                    <div class="container shadow bg-light">
                        <div class="row">
                            <div class="col-md-3 text-primary">
                                <h4 class="footer-heading text-danger">𝕊𝕙𝕠𝕡𝕂𝕚𝕟𝕘 👑 E-Commerce</h4>
                                <div class="footer-underline"></div>
                                <p>
                                    Join the Shopking community today and embark on a journey of endless possibilities. Shop smart, shop stylish.  
                                    <H6>– only at Shopking!</H6>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <h4 class="footer-heading text-danger">Quick Access</h4>
                                <div class="footer-underline"></div>
                                <div class="mb-2"><a href="" class="text-white"></a></div>
                                <div class="mb-2"><a href="" class="text-white"></a></div>
                                <div class="mb-2 text-primary"><a href="{% url 'contact'%}" class="my-5">Contact Us</a></div>
        
                                <div class="mb-2"><a href="" class="text-white"></a></div>
                                <div class="mb-2"><a href="" class="text-white"></a></div>
                            </div>
                            <div class="col-md-3">
                                <h4 class="footer-heading text-danger">Shop Now</h4>
                                <div class="footer-underline"></div>
                                <div class="mb-2"><a href="{% url 'home'%}" class="text-primary">Our Collections</a></div>
                                <div class="mb-2"><a href="{% url 'products'%}" class="text-primary">Trending Products</a></div>
                                <div class="mb-2"><a href="{% url 'mobiles'%}" class="text-primary">Mobiles Category</a></div>
                                <div class="mb-2"><a href="{% url 'accessories'%}" class="text-primary">Accessories Category</a></div>
                                <div class="mb-2"><a href="{% url 'fashion'%}" class="text-primary">Fashion Category</a></div>
                            </div>
                            <div class="col-md-3 text-primary">
                                <h4 class="footer-heading text-danger">Reach Out Us</h4>
                                <div class="footer-underline"></div>
                                <div class="mb-2">
                                    <p>
                                        <i class="fa fa-map-marker"></i> 505, STC - Digital Valley, Mota Varacha, Surat, Gujrat, india - 394101
                                    </p>
                                </div>
                                <div class="mb-2">
                                    <a href="" class="text-primary">
                                        <i class="fa fa-phone"></i> +91 6352126700
                                    </a>
                                </div>
                                <div class="mb-2">
                                    <a href="" class="text-primary">
                                        <i class="fa fa-envelope"></i> shopkingweb@gmail.com
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</div>



{% endblock content %}