{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'log/css/style.css' %}" type="html/css">
    <link rel="icon" type="image/x-icon" href="/media/uploads/favicon.ico">
</head>   
<body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/media/uploads/brand.png" class="small-image mx-2" alt="logo .." width="50" height="50">   Shopking 👑</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Category
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'accessories' %}">Accessories</a></li>
                <li><a class="dropdown-item" href="{% url 'mobiles' %}">Mobiles</a></li>
                <li><a class="dropdown-item" href="{% url 'fashion' %}">Fashion</a></li>
              </ul>
            </li> 
          </ul>
          <form class="d-flex" role="search" method="POST" action="{% url 'search'%}">
            {% csrf_token %}
            <input
               class="form-control me-2"
               type="search"  
               placeholder="Search"
               name="search_query"
               required aria-label="Search"
            >
            <button class="btn btn-outline-light" type="submit">Search</button>
           </form>
           {% if user.is_authenticated %}
           <a href="{% url 'cart_detail'%}" >
          <button type="button" id = "popcart" class="btn btn-outline-info mx-5" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            View Cart <span class="text-">({{count}})</span> </button></a>
            <a href="{% url 'logout'%}" class="btn btn-outline-danger mx-5">Logout</a>
          {% else %}
          <a href="{% url 'login_usr'%}" class="btn btn-outline-danger mx-5">Login</a>
           {% endif %} 
        </div>
    </nav>
  
    {% block content %}
        
    {% endblock content %}
    {% block register %}
        
    {% endblock register%}
    <div class="copyright-area">
      <div class="container text-muted">
          <div class="row">
              <div class="col-md-8 text-center">
                  <p class=""> &copy; @2024 - ShopKing 👑. All rights reserved.</p>
              </div>
              <div class="col-md-4">
                  <div class="social-media">
                      Get Connected:
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-instagram"></i></a>
                      <a href=""><i class="fa fa-youtube"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>