{% extends "log/base.html" %}
{%load static%}
{% block content %} 
<div class="container bg-light my-3">
    <h3 class="text-primary text-center">Contact Us</h3>
    <form action="" method="post" >{% csrf_token %}
  <div class="form-control my-2">
    <label for="name" class="text-danger">Name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
  </div>
  <div class="form-control my-2">
    <label for="name" class="text-danger">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
  </div>

    <div class="form-control my-2">
    <label for="name" class="text-danger">Phone</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
  </div>


   <div class="form-control my-2">
    <label for="desc" class="text-danger">Have any query?</label>
    <textarea class="form-control my-2" id="desc" name='desc' rows="3"></textarea>
  </div>
        <button type="submit" class="text-center btn btn-success my-2">Submit</button>
</form>


<a href="{% url 'products' %}" class="btn btn-danger mb-3">View Products</a>    
</div>
{% endblock %}